<div align="center">

<h1>Waitor's Webapp</h1>
<br>
<form class="" action="/waitors/{{usename}}" method="post">

<div class="btn-group btn-group-lg">
    <input type="checkbox"  name="week" value="Monday">Monday
    <input type="checkbox"  name="week" value="Tuesday">Tuesday
    <input type="checkbox"  name="week" value="Wednesday">Wednesday
    <input type="checkbox"  name="week" value="Thursday">Thursday
    <input type="checkbox"  name="week" value="Friday">Friday
    <input type="checkbox"  name="week" value="Saturday">Saturday
    <input type="checkbox"  name="week" value="Sunday">Sunday
    <input  name="Enter" type="submit">
  </div>
<br>
<br>
{{names}}

<!-- {{#each days}}
<p>{{this.name}}</p>
{{/each}} -->


</form>
