<div align="center">
    <h1>List of people who will be working</h1>
</div>
<br>
<br>
<table class="table table-sm table-inverse">
    <thead>
        <tr>

            <th>Monday</th>
            <th>Tuesday</th>
        </tr>
    </thead>
    <tbody>
      {{#each monday}}
      <tr>
        <td>{{this.name}}</td>
      </tr>
      {{/each}}

      <!-- {{#each tuesday}}
      <tr>
        <td>{{this.name}}</td>
      </tr>
      {{/each}} -->

     </tbody>
